* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body {
    background-color: rgb(105, 105, 105);
    display: grid;
    justify-content: center;
    padding-top: 7em;
    
}

.container {
    width: 500px;
    height: 740px;
    border: rgb(255, 255, 255) 1px solid;
    padding: 20px;
    background-color: rgb(83, 83, 83);

}

#display-area {
    width: 100%;
    height: 110px;
    padding: 10px 30px;
    border: rgb(255, 255, 255) 1px solid;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 3em;
    color: white;
}

.buttons-container {
    border: rgb(255, 255, 255) 1px solid;
    height: 590px;
    width: auto;
    grid-gap: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: .7fr 1fr 1fr 1fr 1fr;
    padding: 0px 20px 20px 20px;
    
}
 
.button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    font-size: 3em;
}

.button:hover {
    background-color: black;
    color: white;
}

#button-empty {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    background-color: rgb(83, 83, 83);
    border: 0;
}

#button-clear {
    height: 60px;
}